*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-image: radial-gradient(circle, #83e37d, #69c961, #4eaf45, #329628, #087d01);
}

main{
    width: 100vw;
    height: 100vh;
}

main .contenedor-cartas{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 75px 1fr 150px 1fr 75px;
    grid-template-rows: repeat(4, auto);   
}

.contenedor-cartas .cartas-rival{
    grid-column: 2 / 5; 
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
    align-items:  start;
}

.contenedor-cartas .cartas-mazo{
    grid-column: 3; 
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-cartas .cartas-propias{
    grid-column: 2/5; 
    grid-row: 3 / 5;
    display: flex;
    justify-content: center;
    align-items: end;
}

.cartas-lineas{
    width: 100px;
    height: 150px;
    outline: 3px white solid;
    border-radius: 5%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carta, .mazo{
    width: 90%;
}

.mazo img{
    display: none;
    width: 100%; 
    margin-top: 3px;
}

.carta img{    
    width: 100%; 
    margin-top: 3px; 
    cursor: pointer;
    transition: transform 0.4s ease;
}

.carta img:hover {
    transform: scale(1.1);
}
